.page-nav{
display: flex;
justify-content: center;
}

.page{
    padding: 1em;
    cursor: pointer;
}

.page-btn{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 1.8em;
    cursor: pointer;
}